/*--------------------------default style-------------------------------------*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary { margin: 0; padding: 0; }

li { list-style: none; }

a { text-decoration: none; color: #b5b6b8; font-size: 13px; }

em, i, strong, b, h1, h2, h3, h4, h5, h6 { font-style: normal; }

/*--------------------------default style-------------------------------------*/
html { width: 100%; height: 100%; }

body { min-width: 1440px; overflow: auto; }

/*--------------------------header style-------------------------------------*/
#header { width: 100%; background: #171a21; }
#header .header_content { width: 940px; height: 103px; margin: 0 auto; position: relative; margin: 0 auto; }
#header .header_content .logo { width: 150px; height: 74px; padding-top: 30px; }
#header .header_content .nav { position: absolute; left: 200px; top: 0; width: 180px; height: 68px; }
#header .header_content .nav .frist_nav { height: 100%; }
#header .header_content .nav .frist_nav li { padding: 46px 15px 7px 0px; float: left; }
#header .header_content .nav .frist_nav li a:hover { color: #fff; }
#header .header_content .nav .second_nav_1, #header .header_content .nav .second_nav_2 { display: none; padding-top: 5px; position: absolute; left: -2px; top: 64px; z-index: 20; width: 78px; height: 171px; background: #171A21; }
#header .header_content .nav .second_nav_1 li a, #header .header_content .nav .second_nav_2 li a { display: block; width: 58px; height: 26px; padding: 0 10px 0 10px; font-size: 11px; line-height: 26px; }
#header .header_content .nav .second_nav_1 li a:hover, #header .header_content .nav .second_nav_2 li a:hover { color: #fff; }
#header .header_content .header_right { width: 205px; float: right; position: absolute; right: 0; top: 6px; }
#header .header_content .header_right .inst_btn { float: left; width: 98px; height: 21px; background: url(../img/logo_icon/btn_icon.png) repeat center center; text-align: center; }
#header .header_content .header_right .inst_btn .inst_steam { width: 24px; height: 100%; background: url(../img/logo_icon/installsteam_btn.png) no-repeat left top; text-indent: -1000px; overflow: hidden; float: left; }
#header .header_content .header_right .inst_btn i a { display: block; color: #e5e5e5; line-height: 21px; }
#header .header_content .header_right .inst_btn i a:hover { color: #fff; }
#header .header_content .header_right .login_and_language { position: relative; float: left; }
#header .header_content .header_right .login_and_language li { float: left; }
#header .header_content .header_right .login_and_language li a:hover { color: #fff; }
#header .header_content .header_right .login_and_language li:nth-of-type(1) a { padding: 0 13px 0 10px; border-right: 1px solid #b5b6b8; }
#header .header_content .header_right .login_and_language li:nth-of-type(2) { cursor: pointer; padding: 0 10px 0 10px; position: relative; }
#header .header_content .header_right .login_and_language li:nth-of-type(2) span { position: absolute; right: 0; top: 50%; text-indent: -1000px; overflow: hidden; float: left; width: 0; height: 0; border: 4px solid #171a21; border-top-color: #b5b6b8; }
#header .header_content .header_right #Language_list { display: none; position: absolute; right: 2px; top: 22px; width: 200px; height: auto; background: #3b3938; z-index: 20; }
#header .header_content .header_right #Language_list li { cursor: pointer; width: 180px; height: 25px; padding: 2px 10px; }
#header .header_content .header_right #Language_list li a { line-height: 25px; display: block; font-size: 13px; width: 180px; }
#header .header_content .header_right #Language_list li a:hover { background-color: #222a34; }
#header .header_content .header_right #Language_list li:hover { background-color: #222a34; }

/*--------------------------header style-------------------------------------*/
/*--------------------------main style-------------------------------------*/
#main { width: 100%; height: 3875px; background: #1b2838; }
#main .main_top { width: 100%; height: 1560px; }
#main .main_top .left_list { float: left; width: 190px; height: 662px; padding: 10px 0 0 37px; }
#main .main_top .left_list .list_title { color: #c7d5e2; font-size: 11px; line-height: 17px; font-weight: normal; padding-top: 15px; }
#main .main_top .left_list .list_nav li span { width: 16px; height: 16px; background: url(../img/logo_icon/store_menu_icons.png) no-repeat left top; text-indent: -1000px; overflow: hidden; float: left; margin-top: 4px; cursor: pointer; }
#main .main_top .left_list .list_nav li span:hover a { color: #fff; }
#main .main_top .left_list .list_nav a { font-size: 9px; color: #84b6d9; padding-top: 3px; margin-left: 5px; }
#main .main_top .left_list .list_nav a:hover { color: #fff; }
#main .main_top .left_list .list_nav .firend { background-position: left top; }
#main .main_top .left_list .list_nav .judge { background-position: -16px top; }
#main .main_top .left_list .list_nav .lable { background-position: -32px top; }
#main .main_top .left_list .list_nav .recom { background-position: -48px top; }
#main .main_top .left_list .list_nav .new { background-position: -64px top; }
#main .main_top .left_list .list_nav .re { background-position: -80px top; }
#main .main_top .left_list .list_nav .geng { background-position: -96px top; }
#main .main_top .left_list .list_nav .xin { background-position: -112px top; }
#main .main_top .left_list .list_nav .tui { background-position: -128px top; }
#main .main_top .left_list .list_nav .sale { background-position: -144px top; }
#main .main_top .left_list .list_nav .VR { background-position: -160px top; }
#main .main_top .left_list .list_nav .St_col { background-position: -176px top; }
#main .main_top .left_list .list_2 li a { margin: 0; }
#main .main_top .right_box { min-width: 940px; position: relative; float: left; width: 940px; height: 36px; background: #356b8f; margin: 32px 0 0 63px; }
#main .main_top .right_box .main_nav { width: 940px; float: left; }
#main .main_top .right_box .main_nav li { cursor: pointer; position: relative; width: 71px; height: 35px; border-right: 1px solid #245371; text-align: center; padding-right: 15px; float: left; }
#main .main_top .right_box .main_nav li a { line-height: 35px; color: #fff; }
#main .main_top .right_box .main_nav .store { width: 97px; }
#main .main_top .right_box .main_nav .news { padding: 0; width: 56px; text-align: center; }
#main .main_top .right_box .main_nav .sanjiao { text-indent: -1000px; overflow: hidden; float: left; width: 0; height: 0; border: 4px solid #356b8f; border-top-color: #b5b6b8; cursor: pointer; }
#main .main_top .right_box .main_nav .s1 { position: absolute; right: 20px; top: 16px; }
#main .main_top .right_box .main_nav .s2, #main .main_top .right_box .main_nav .s3, #main .main_top .right_box .main_nav .s4, #main .main_top .right_box .main_nav .s5 { position: absolute; right: 18px; top: 16px; }
#main .main_top .right_box .main_nav input[type="text"] { background: #316282; position: absolute; right: 3px; top: 2px; float: right; display: block; width: 230px; height: 30px; border: 1px solid #204560; border-radius: 5px; }
#main .main_top .right_box .hr { display: block; width: 85px; height: 1px; margin: 5px 10px 5px 10px; background: #fff; text-indent: -1000px; overflow: hidden; float: left; }
#main .main_top .right_box .bot { padding-top: 11px; }
#main .main_top .right_box .second_menu { padding-top: 1px; position: absolute; top: 36px; background: linear-gradient(to bottom, #e3eaef 5%, #c7d5e0 95%); z-index: 10; }
#main .main_top .right_box .second_menu li a { height: 16px; line-height: 16px; padding: 5px 12px; display: block; color: #171A21; font-size: 13px; text-align: left; }
#main .main_top .right_box .second_menu li a:hover { background: #000; color: #fff; }
#main .main_top .right_box .second_menu .category { font-size: 11px; color: #4f94bc; padding: 2px 12px 3px 12px; }
#main .main_top .right_box .your_store { left: 0; width: 113px; height: 120px; display: none; }
#main .main_top .right_box .game_list { left: 113px; width: 138px; height: 550px; display: none; }
#main .main_top .right_box .game_list .hr { width: 108px; }
#main .main_top .right_box .softwore_list { left: 199px; width: 125px; height: 277px; display: none; }
#main .main_top .right_box .softwore_list .hr { width: 95px; }
#main .main_top .right_box .hardware_list { left: 286px; width: 115px; height: 110px; display: none; }
#main .main_top .right_box .video_list { left: 373px; width: 106px; height: 405px; display: none; }
#main .main_top .right_box .video_list .hr { width: 76px; text-align: center; }

/*# sourceMappingURL=index.css.map */
