@charset "utf-8";
$headerBgcolor:#171a21;
$main_top_color:#1b2838;
$main_bottom_color:#23384d;
$footer_top_color:#000000;
$footer_bottom_color:#101922;
$Def_font_size:13px;
$Def_font_family:"Microsoft Yahei";
$A_def_color:#b5b6b8;
$Def_hover_color:#fff;
$list_nav_color:#84b6d9;
@mixin Dleft{
        float: left;    
};
@mixin Dright{
        float: right;    
};
@mixin margin_this{
        margin:0 auto;  
};
@mixin text_none{
    text-indent: -1000px;
    overflow: hidden;
    float: left;
}
/*--------------------------default style-------------------------------------*/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration: none;color:$A_def_color;font-size:$Def_font_size}
em,i,strong,b,h1,h2,h3,h4,h5,h6{font-style: normal;}
/*--------------------------default style-------------------------------------*/
html{
    width:100%;
    height:100%;
}
 body{
      min-width:1440px;
      overflow:auto;

}
/*--------------------------header style-------------------------------------*/
#header{
    width: 100%;
    background: $headerBgcolor;
        .header_content{
            width:940px;
            height:103px;
            margin:0 auto;
            position:relative;
            @include margin_this;
            .logo{
                width:150px;
                height:74px;
               padding-top:30px ;
            }
            .nav{
                 position: absolute;
                 left:200px;
                 top:0;
                width:180px;
                 height: 68px;
                .frist_nav{
                    height: 100%;
                             li{
                                 padding:46px 15px 7px 0px;
                                @include Dleft;
                                a:hover{
                                   color:$Def_hover_color;
                                }
                             }
                      }
                 .second_nav_1,.second_nav_2{
                     display:none;
                     padding-top:5px;
                     position:absolute;
                     left:-2px;
                     top:64px;
                     z-index:20;
                     width:78px;
                     height:171px;
                     background:#171A21;
                        li{
                            a{
                                display:block;
                                width:58px;
                                height:26px;
                                padding:0 10px 0 10px;
                                font-size: 11px;
                                line-height: 26px;
                            }
                            a:hover{
                                color:$Def_hover_color;
                            }
                        }
                     }
                }
            .header_right{
                    width:205px;
                    @include Dright;
                    position: absolute;
                    right:0;
                    top:6px;
                    .inst_btn{
                        @include Dleft;
                        width:98px;
                        height:21px;
                        background:url(../img/logo_icon/btn_icon.png)repeat center center;
                        text-align:center;
                        .inst_steam{
                            width:24px;
                            height:100%;
                            background: url(../img/logo_icon/installsteam_btn.png)no-repeat left top;
                            @include  text-none;                   
                        }
                        i{
                            
                            a{
                                display:block;
                                color:#e5e5e5;
                                line-height:21px;
                            }
                            a:hover{color:#fff}
                        }
                    }
                    .login_and_language{
                        position: relative;
                        @include Dleft;
                        li{
                            @include Dleft;
                            a:hover{
                                color:#fff;
                            }
                        }
                        li:nth-of-type(1) {
                           a{
                            padding:0 13px 0 10px;
                            border-right:1px  solid  $A_def_color;
                            }  
                        }    
                         li:nth-of-type(2) {
                             cursor: pointer;
                            padding:0 10px 0 10px;
                            position: relative;
                                 span{
                                        position: absolute;
                                        right:0;
                                        top:50%;
                                       @include text-none;
                                       width:0;
                                       height:0;
                                       border:4px solid $headerBgcolor;
                                       border-top-color:$A_def_color;
                                 }
                            }                    
                    }
                    #Language_list{
                        display:none;
                        position: absolute;
                        right:2px;
                        top:22px;
                        width:200px;
                        height:auto;
                        background:#3b3938;
                        z-index:20;
                        li{
                            cursor:pointer;
                            width:180px;
                            height:25px;
                            padding:2px 10px;
                            a{
                                line-height:25px;
                                display:block;
                                font-size:13px;
                                width:180px;
                            }
                            a:hover{
                                background-color:#222a34;
                            }
                            
                        }
                        li:hover{
                            background-color:#222a34;
                        }
                    }
            }
        }
}
/*--------------------------header style-------------------------------------*/

/*--------------------------main style-------------------------------------*/
#main{
    width:100%;
    height:3875px;
    background:#1b2838;
   .main_top{
       width:100%;
       height:1560px;
    .left_list{
        float:left;
        width:190px;
        height:662px;
        padding:10px 0 0 37px;
        .list_title{
            color:#c7d5e2;
            font-size:11px;
            line-height: 17px;
            font-weight: normal;
            padding-top:15px;
        }
        .list_nav{
            li{
                span{
                    width:16px;
                    height:16px;
                    background:url(../img/logo_icon/store_menu_icons.png)no-repeat left top;
                    @include text_none;
                    margin-top:4px;
                    cursor: pointer;
                }
                span:hover a{
                    color:$Def_hover_color;
                }
            }
           a{
               font-size:9px;
               color:$list_nav_color;
               padding-top:3px;
               margin-left:5px;
           }
           a:hover{
               color:$Def_hover_color;
           }
            .firend{background-position:left top;}
            .judge{background-position:-16px top;}
            .lable{background-position:-32px top;}
            .recom{background-position:-48px top;}
            .new{background-position:-64px top;}
            .re{background-position:-80px top;}
            .geng{background-position:-96px top;}
            .xin{background-position:-112px top;}
            .tui{background-position:-128px top;}
            .sale{background-position:-144px top;}
            .VR{background-position:-160px top;}
            .St_col{background-position:-176px top;}
        }
        .list_2{
            li{
                a{
                    margin:0;
                }   
            }
        }
    }
    .right_box{
        min-width: 940px;
        position:relative;
        @include Dleft;
        width:940px;
        height:36px;
        background:#356b8f;
        margin:32px 0 0 63px;
            .main_nav{
                
                width:940px;
                 @include Dleft;
                li{
                    cursor:pointer;
                    position:relative;
                    width:71px;
                    height:35px;
                    border-right:1px solid #245371;
                    text-align:center;
                     padding-right:15px; 
                     @include Dleft;
                     a{
                         line-height:35px;
                         color:#fff;
                     }
                }
                .store{
                    
                    width:97px;
                }
                .news{
                    padding:0;
                    width:56px;
                    text-align: center;
                }
                .sanjiao{
                    @include text_none;
                    width:0;
                    height:0;
                    border:4px solid #356b8f;
                    border-top-color:$A_def_color;
                    cursor:pointer;
                }
                .s1{position:absolute;right:20px;top:16px;}
                .s2,.s3,.s4,.s5{position:absolute;right:18px;top:16px;}
                input[type="text"]{
                 background:#316282;
                position:absolute;
                right:3px;
                top:2px;
                @include Dright;
                display:block;
                width:230px;
                height:30px;
                border:1px solid #204560;
                border-radius:5px;
                }
            }
             .hr{
                        display: block;
                        width:85px;
                        height:1px;
                        margin:5px 10px 5px 10px;
                        background:#fff;
                        @include text_none;
                    }
             .bot{padding-top:11px}
              .second_menu{
                    padding-top:1px;
                    position:absolute;
                    top:36px;
                    background:linear-gradient(to bottom, #e3eaef 5%, #c7d5e0 95%);
                    z-index: 10;
                    li{
                        a{
                           
                           height:16px;
                           line-height:16px;
                           padding: 5px 12px;
                           display:block;
                           color:#171A21;
                           font-size:13px;
                           text-align:left;
                        }
                        a:hover{
                            background:#000;
                            color:#fff;
                        }
                    }
                    .category{
                        font-size:11px;
                        color:#4f94bc;
                        padding:2px 12px 3px 12px;
                    }
                }
                .your_store{
                    left:0;
                    width:113px;
                    height:120px;
                    display:none;
                }
                .game_list{
                    left:113px;
                    width:138px;
                    height:550px;
                    display:none;
                    .hr{
                       width:108px;
                   }
                }
                .softwore_list{
                    left:199px;
                    width:125px;
                    height:277px;
                    display:none;
                    .hr{
                        width:95px;
                        }
                    }
                .hardware_list{
                    left:286px;
                    width:115px;
                    height:110px;
                    display:none;
                }
                .video_list{
                    left:373px;
                    width:106px;
                    height:405px;
                    display:none;
                    .hr{
                        width:76px;
                        text-align: center;
                        }
                }
        }
    }
}
